@font-face {
  font-family: "Arial";
  src: url("/fonts/arialmt.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "Verdana";
  src: url("/fonts/Verdana.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "Tahoma";
  src: url("/fonts/tahoma.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
.watch {
  background-color: #363a37;
  border-radius: 8px 8px 0 0;
  width: 230px;
  height: 55px;
  position: absolute;
  top: 0;
  right: 8px;
  transform: translateY(calc(-100% + 3px));
  padding: 10px;
  align-items: center;
  padding-right: 20px;
  display: flex;
}
.watch span {
  display: none;
}
.watch .watch_part {
  position: relative;
  display: flex;
}
.watch .watch_part p {
  color: #b6b6bd;
}
.watch .watch_part p.p_one {
  margin-bottom: 0;
  font-size: 12px;
}
.watch .watch_part p.p_two {
  color: #979797;
  font-size: 9px;
}
.watch .img {
  padding-right: 10px;
}
.watch .paragraph_container {
  display: flex;
}
.watch span.arrow_down {
  bottom: 0;
  position: absolute;
  right: 0;
}
.watch .watch_part p.p_one:hover {
  color: #accaa6;
}

.watch:hover .watch_part span {
  display: block;
}
.watch:hover span.double_parts {
  display: block;
}

.navigation_container {
  font-family: "Tahoma";
  position: relative;
  align-items: center;
  background: linear-gradient(to bottom, #1c341c 0%, #334633 100%);
  justify-content: center;
  height: 70px;
  text-transform: uppercase;
  color: #A3C0B2;
  display: flex;
}
.navigation_container img {
  height: 70px;
}
.navigation_container p {
  font-size: 18px;
}
.navigation_container .container_menu {
  padding-left: 50px;
}
.navigation_container ul {
  margin: 0;
  height: 100%;
  z-index: 2;
}
.navigation_container ul .sub_li {
  position: absolute;
  box-shadow: 1px 1px 5px #535f53;
  border-radius: 0 0 10px 10px;
  bottom: 0;
  padding: 0 40px;
  transform: translateY(100%);
  display: none;
  background-color: rgba(31, 31, 31, 0.95);
}
.navigation_container ul .sub_li .img {
  padding-top: 30px;
}
.navigation_container ul .sub_li .img img {
  height: 55px;
}
.navigation_container ul .sub_li p {
  margin-top: 0;
  font-weight: 700;
  font-size: 12px;
  font-family: "Arial";
  margin-bottom: 30px;
}
.navigation_container ul .sub_li .sub {
  padding: 5px;
  width: 75px;
  text-align: center;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.navigation_container ul .sub_li .sub b {
  display: none;
  color: rgba(31, 31, 31, 0.95);
}
.navigation_container ul .sub_li .sub:after {
  content: "";
  display: block;
  background-color: #535f53;
  width: 100%;
  height: 1px;
}
.navigation_container ul .sub_li .sub:hover {
  background: linear-gradient(to bottom, #394129 0%, #585f4b 100%);
}
.navigation_container ul .sub_li .sub:hover b {
  display: block;
}
.navigation_container ul .active_li {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
}
.navigation_container ul .active_li a {
  color: #999999;
  text-decoration: none;
}
.navigation_container ul li {
  display: grid;
  position: relative;
  width: 92px;
  height: 100%;
  display: inline-block;
}
.navigation_container ul li:hover:after, .navigation_container ul li.active:after {
  background-image: url("/res/2021-10-16 (3).png");
  left: 0;
  right: 0;
  bottom: -20px;
  top: 0;
  content: "";
  position: absolute;
}
.navigation_container ul li span {
  position: absolute;
  top: 50%;
  font-size: 14px;
  right: 50%;
  transform: translateX(50%);
  z-index: 1;
}

p.paragraph_information {
  padding-left: 10px;
  font-size: 11px;
  color: #cdcdd3;
}
p.paragraph_information span {
  background-color: black;
  border-radius: 5px;
  padding: 5px;
}

p.paragraph_information_two {
  text-align: right;
}
p.paragraph_information_two a {
  text-decoration: none;
  color: #A3C0B2;
}
p.paragraph_information_two a:hover {
  text-decoration: underline;
}

.main_container {
  background-color: #1f1f1f;
  border-radius: 0 0 5px 5px;
  display: grid;
  margin: 0 8px;
  grid-template-columns: 1fr 1fr;
  border: 2px solid #314431;
}
.main_container .paragraph_container {
  border-bottom: 1px solid #788e7b;
  margin-right: 20px;
}
.main_container h2 {
  color: #cdcdd3;
  text-align: center;
}
.main_container .paragraph {
  color: #cdcdd3;
  padding-top: 30px;
  padding-left: 10px;
  display: flex;
  font-size: 11px;
}
.main_container .paragraph .img {
  padding-right: 20px;
}
.main_container .paragraph h2 {
  text-align: center;
}
.main_container .paragraph p {
  padding: 2px 0;
  line-height: 18px;
}
.main_container .paragraph p a {
  color: #cdcdd3;
  border-bottom: 1px solid #A3C0B2;
  padding-bottom: 2px;
  text-decoration: none;
}
.main_container .paragraph p a:hover {
  color: #A3C0B2;
}
.main_container .paragraph span {
  font-weight: 600;
}

.home_container {
  padding: 20px 0;
}
.home_container .logo {
  text-align: center;
}

.content {
  margin: auto;
  width: 930px;
  position: relative;
}
.content .navigation_part {
  border-radius: 5px;
  height: 60px;
  box-shadow: 0 0 2px 1px #394439;
  display: flex;
  padding: 10px 73px;
  background: linear-gradient(to bottom, #334633 0%, #1c341c 100%);
  align-items: center;
}
.content .navigation_part .social {
  display: flex;
}
.content .navigation_part .social .social_part {
  background-color: #212722;
  margin: 0 14px;
  border-radius: 50%;
  height: 46px;
  width: 46px;
}
.content .navigation_part .come_in {
  width: 60px;
  height: 60px;
  display: block;
  position: relative;
  padding-right: 60px;
  margin-bottom: 30px;
}
.content .navigation_part .come_in p {
  font-weight: 400;
  font-stretch: 100%;
  padding-top: 19px;
  box-sizing: border-box;
  z-index: 9;
  font-size: 10px;
  background-color: #212722;
  margin-right: 50px;
  box-shadow: 1px 1px 0 0 #1f1f1f, inset 1px 1px 1px #606661;
  height: 100%;
  width: 100%;
  position: relative;
  border-radius: 50%;
  color: #A3C0B2;
  text-align: center;
}
.content .navigation_part .come_in span {
  font-weight: 400;
  font-size: 18px;
}
.content .navigation_part form {
  display: flex;
  align-items: center;
}
.content .navigation_part form label {
  display: flex;
  width: 500px;
  padding-right: 20px;
  align-items: center;
}
.content .navigation_part form label input {
  border: 1px solid #A3C0B2;
  border-radius: 5px;
  height: 25px;
  width: 100%;
  background-color: #2e332f;
}
.content .navigation_part form button {
  margin-left: 20px;
  color: #A3C0B2;
  background: linear-gradient(to bottom, #3d4629 0%, #272b1e 100%);
  border: 1px solid #314431;
  border-radius: 5px;
  font-size: 20px;
  height: 40px;
}
.content .navigation_part .social_part {
  position: relative;
}
.content .navigation_part .social_part .img {
  position: absolute;
  display: block;
  height: 20px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 20px;
  -o-object-fit: cover;
     object-fit: cover;
}
.content .navigation_part .social_part .img img {
  height: 100%;
  width: 100%;
}
.content .circle_container {
  right: 41px;
  bottom: -13px;
  position: absolute;
}
.content .circle {
  border-radius: 50%;
  width: 35px;
  z-index: 8;
  height: 35px;
  background: linear-gradient(to bottom, #394129 0%, #585f4b 100%);
}

.part_right {
  box-shadow: 2px 2px 3px #535f53, inset 1px 1px 1px #535f53;
  border-radius: 5px;
  margin: 30px 0;
  background-color: #363a37;
}

.choice_navigation {
  display: grid;
  right: 0;
  padding: 10px 30px;
  margin: 10px 0px;
}
.choice_navigation .last {
  border-bottom: 0;
}
.choice_navigation .navigation_menu_part:after {
  content: "";
  display: block;
  background: #535f53;
  width: 100%;
  margin: 5px 0;
  margin-bottom: 6px;
  height: 0.5px;
}
.choice_navigation .navigation_menu_part:hover:after {
  background: #717f71;
}
.choice_navigation .navigation_menu_part:last-child:after {
  display: none;
}
.choice_navigation h2 {
  font-weight: 400;
  padding-bottom: 8px;
  margin: 0 auto 15px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  font-size: 18px;
  border-bottom: 1.5px solid #8ca38f;
}
.choice_navigation h2 span {
  color: #A3C0B2;
}
.choice_navigation div {
  display: grid;
  line-height: 24px;
}
.choice_navigation a {
  color: #cdcdd3;
  font-size: 14px;
  border-radius: 15px 0 0 15px;
  text-decoration: none;
  line-height: 1;
  padding: 5px 10px 5px 20px;
}
.choice_navigation a:hover {
  background-color: #A3C0B2;
  color: black;
}

.chat {
  padding: 10px;
}
.chat .information_registor {
  background-color: #313135;
  color: #f0f7fc;
  padding: 9px;
}
.chat .information_registor p {
  margin: 0;
  font-size: 12px;
  font-weight: 400;
}
.chat .chat_open {
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;
}
.chat .toggles {
  padding-right: 20px;
}
.chat .toggles .toggle {
  background-color: #62955b;
  height: 18px;
  position: absolute;
  width: 48px;
  border-radius: 20px;
}
.chat .toggles .toggle-circle {
  background-color: white;
  height: 24px;
  border-radius: 50%;
  right: -23px;
  position: relative;
  bottom: 2px;
  width: 24px;
}
.chat h2 {
  color: #accaa6;
  padding-left: 40px;
}
.chat h2:after {
  content: "";
  height: 1px;
  background-color: #accaa6;
  width: 35px;
  margin: 8px auto;
  display: block;
}
.chat .chat_container {
  background-color: #1f1f1f;
  border-radius: 5px;
}
.chat .chat_container .information_do_container {
  color: #cdcdd3;
}
.chat .chat_container .message {
  padding: 10px;
  border-radius: 5px;
  margin: 2px 0;
  border: 1px solid #5d5d5d;
  margin-left: 0;
}
.chat .chat_container .message .info p {
  margin-top: 10px;
  font-weight: 400;
}
.chat .chat_container .choice_message_do {
  background-color: #363a37;
}
.chat .chat_container .choice_message_do button {
  margin: 7px 0;
  border-radius: 5px;
  outline: none;
  border: 1px solid #3b3838;
  padding: 0;
  background-color: #1f1f1f;
}
.chat .chat_container .choice_message_do button:hover {
  border-color: black;
}
.chat .chat_container .choice_message_do textarea {
  resize: none;
  background-color: #1f1f1f;
  width: 100%;
  height: 96px;
  color: #cdcdd3;
}
.chat .chat_container .chat_button_container {
  padding-top: 12px;
  background-color: #363a37;
}
.chat .chat_container .chat_button_container button {
  letter-spacing: 0.5px;
  background-color: black;
  color: #b3b3b3;
  font-size: 11px;
  padding: 2px 9px 5px 9px;
  border-radius: 5px;
  border-color: black;
}
.chat .chat_container .chat_button_container button:hover {
  background-color: #1f1f1f;
  border-color: #1f1f1f;
}
.chat .chat_container .chat_button_container button.new_window {
  margin-top: 3px;
  color: #a3aebc;
  background-color: #1f1f1f;
  border: 1px solid #768599;
  padding: 8px 20px;
  font-weight: 700;
  font-size: 11px;
}
.chat .chat_container .chat_button_container .button_row {
  display: grid;
  grid-template-columns: auto 1fr;
}
.chat .chat_container .chat_button_container .button_row div {
  text-align: right;
}
.chat .main_part_message {
  align-items: center;
  display: flex;
  width: 100%;
  border-radius: 5px;
  background-color: #2f2f2f;
}
.chat .main_part_message .img {
  border-radius: 5px;
  margin-right: 10px;
  border: 1px solid #54758b;
}
.chat .main_part_message .img img {
  height: 32px;
}
.chat .main_part_message .name_people p {
  color: #218b98;
}
.chat .main_part_message .time_message span {
  padding-right: 10px;
  padding-bottom: 10px;
  color: gray;
}
.chat .main_part_message p {
  margin: 0;
}
.chat .info {
  color: #cdcdd4;
}

.information {
  padding: 10px;
  line-height: 24px;
}
.information span {
  border-bottom: 1px solid #A3C0B2;
  font-size: 24px;
}
.information .comma {
  color: #A3C0B2;
}
.information p {
  font-weight: 400;
  font-size: 12px;
  color: #cdcdd3;
}
.information a {
  color: #bee6c3;
  text-decoration: none;
}
.information a:hover {
  text-decoration: underline;
}

a.card {
  text-decoration: none;
}

.recommendations h2 {
  letter-spacing: 1px;
  font-size: 13px;
}

.card_list {
  padding-top: 40px;
  border-bottom: 1px solid #788e7b;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

a.card {
  margin: 10px;
}

.card {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin-bottom: 0;
  text-align: center;
  color: #d9d9d9;
}
.card p {
  text-align: right;
  padding-right: 10px;
  padding-bottom: 10px;
  color: #a7a7a7;
  margin: 0;
}
.card .img {
  border-radius: 50% 50% 0 0;
  background-color: #35413a;
}
.card .img img {
  border-radius: 50%;
}
.card .bottom_part {
  background-color: #35413a;
  width: 186px;
  border-radius: 0 0 50% 50%;
  height: 30px;
}
.card .description {
  background-color: #35413a;
}
.card .description h3 {
  margin-top: 0;
}

.link_line {
  padding-top: 60px;
  background-size: cover;
  display: flex;
  justify-content: space-between;
  grid-column: span 2;
  text-align: center;
  background-image: url("/res/footer-bg.dark.png");
}
.link_line a.boss_a {
  text-shadow: 1px 1px 2px #000000, -1px -1px 2px #000;
}
.link_line a {
  font-size: 12px;
  color: #b0c0b2;
  padding: 0 10px;
  text-decoration: none;
  font-weight: 400;
}
.link_line a:hover {
  text-shadow: 1px 1px 2px #000000, -1px -1px 2px #000;
  text-decoration: underline;
}

.random_technique {
  text-align: center;
  box-shadow: none;
  background-color: transparent;
  position: absolute;
  border: 0;
  border-left: 5px solid #4f6040;
  border-bottom: 1px solid #35413a;
}
.random_technique h3 {
  font-weight: 400;
  font-size: 21px;
  color: #cdcdd4;
}
.random_technique h3 span {
  color: #accaa6;
}
.random_technique .img {
  padding-left: 10px;
}
.random_technique .img img {
  border-radius: 5px;
}
.random_technique p {
  top: -50px;
  position: relative;
  border-radius: 5px 5px 0 0;
  padding: 8px 10px;
  color: #cdcdd4;
  background: rgba(0, 0, 0, 0.45);
}
.random_technique a {
  text-decoration: none;
}

.vk_box {
  margin-top: 20px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  background-color: #292f33;
  border-radius: 5px;
  padding: 13px;
}
.vk_box img {
  width: 34px;
  height: 34px;
  border-radius: 50%;
}
.vk_box .vk_header {
  grid-gap: 20px;
  padding-bottom: 13px;
  font-size: 13px;
  font-weight: 700;
  align-items: center;
  letter-spacing: 1px;
  color: #aeacaa;
  display: flex;
  border-bottom: 1px solid #efefef;
}
.vk_box .main_box_vk a {
  color: #989b9f;
  text-decoration: none;
}
.vk_box .main_box_vk .recommendation_rows {
  display: flex;
  padding-bottom: 13px;
}
.vk_box .main_box_vk .recommendation_rows .img {
  padding: 0 8px;
}
.vk_box .main_box_vk .recommendation_rows .img img {
  height: 39px;
  width: 39px;
}
.vk_box .main_box_vk .under_row {
  display: flex;
}
.vk_box .main_box_vk .under_row .img {
  padding: 0 8px;
}
.vk_box .main_box_vk .under_row .img img {
  height: 39px;
  width: 39px;
}
.vk_box .main_box_vk a:hover {
  text-decoration: underline;
}
.vk_box .main_box_vk button {
  margin-top: 14px;
  align-items: center;
  width: 100%;
  display: grid;
  grid-gap: 10px;
  border: 0;
  border-radius: 5px;
  grid-template-columns: auto 1fr;
  background-color: #e1e3e6;
}
.vk_box .main_box_vk button img {
  width: 20px;
  border-radius: 0;
}

.part_left_container {
  padding: 10px;
}

.part_right_container {
  margin-right: 10px;
}

body {
  font-family: "Arial";
  margin: 0;
  padding: 0;
  background: url("https://lh3.google.com/u/0/d/1tVktHO_V5vRsRNc001YQIeEdNTYmy-fd=w2560-h1240-iv1");
  background-attachment: fixed;
  background-position: center 0px;
}

.choice_navigation {
  font-family: "Verdana";
}

#body .no_display {
  display: none;
}
